/* jquery-bootstrap-scrolling-tabs */
/* line 13, jquery.scrolling-tabs.scss */
.scrtabs-tab-container * {
  box-sizing: border-box;
}

/* line 17, jquery.scrolling-tabs.scss */
.scrtabs-tab-container {
  height: 42px;
}
/* line 19, jquery.scrolling-tabs.scss */
.scrtabs-tab-container .tab-content {
  clear: left;
}

/* line 24, jquery.scrolling-tabs.scss */
.scrtabs-tabs-fixed-container {
  float: left;
  height: 42px;
  overflow: hidden;
  width: 100%;
}

/* line 31, jquery.scrolling-tabs.scss */
.scrtabs-tabs-movable-container {
  position: relative;
}
/* line 33, jquery.scrolling-tabs.scss */
.scrtabs-tabs-movable-container .tab-content {
  display: none;
}

/* line 38, jquery.scrolling-tabs.scss */
.scrtabs-tab-scroll-arrow {
  cursor: pointer;
  float: left;
  height: 42px;
  padding-top: 23px;
  width: 20px;
}

